[2018-03-29 06:16] nagad814 opened #14 "How close to release is package"
Hi, I am looking at integrating your sdk into my React native app. would like to know how close are you to a release build. PS: I see your develop branch has lot of progress already.

[2018-03-29 06:17] nagad814 commented on #14
Also we are looking at IOS release first.

[2018-03-29 06:18] weeeBox commented on #14
Hey @nagad814,

We are targeting the end of this week or early next week. Stay tuned!

[2018-03-29 06:18] #14 closed

[2018-03-29 06:18] nagad814 commented on #14
thank you

[2018-03-29 23:15] weeeBox commented on #14
Hey @nagad814,

Apptentive package is now available on `npm`:
https://www.npmjs.com/package/apptentive-react-native

[2018-04-09 16:41] nagad814 opened #21 "Post install script not working"
Here is my final post install script in Pod file.
getting Appentive.h missing error.
Please help

`post_install do |installer|
    installer.pods_project.targets.each do |target|
        target.build_configurations.each do |config|
            config.build_settings['CLANG_ENABLE_OBJC_WEAK'] ||= 'YES'
            config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '9.3'
            unless install

[2018-04-09 16:48] weeeBox commented on #21
Hi @nagad814,

Sorry for the issue. We're looking at it right now.

[2018-04-09 16:54] nagad814 commented on #21
thank you

[2018-04-09 17:27] nagad814 commented on #21
I think your podsec file needs react as dependency `s.dependency 'React/Core'`

[2018-04-09 23:39] frankus commented on #21
I've been working on reproducing this issue, but for me the post-install hook seems to be working reliably.

I created a test React Native app and added the following Podfile to the ios directory:

[code]

After running `pod install` I can reproduce the issue (complaining about missing Apptentive.h file).

I then added the following post-install hook at the top level of the Podfile (immediately be

[2018-04-10 10:30] nagad814 commented on #21
Hi, I was able to resolve my issue by changing the Apptentive_Private.h, import statement to

`#import "Apptentive.h"`

https://github.com/nagad814/apptentive-ios/blob/master/Apptentive/Apptentive/Apptentive_Private.h

[2018-04-10 17:33] #21 closed

[2018-04-11 14:30] aidanlvlup opened #22 "Apptentive/Apptentive.h file not found"
i have ran into this error on ios working fine on android i have run npm install, react-native link and installed using cocoapods, example of podfile below.

[code]

also tried clean in xcode after this and still getting the same error on RNApptentiveModule.m line 2

[2018-04-11 16:48] frankus commented on #22
Can you try uncommenting `use_frameworks!` and run `pod install` again? Even if you aren't able to use that setting in production, that should help us diagnose what's going on.

[2018-04-13 08:45] aidan2129 commented on #22
@frankus Hello thank you for the quick reply i have tried use_frameworks but is just getting the same error the same error `node_modules/apptentive-react-native/ios/RNApptentiveModule.m:2:9: 'Apptentive/Apptentive.h' file not found.` I had to remove some other pods as they did not work with this setting on.

[2018-04-13 22:49] frankus commented on #22
I think what's going on is that the "header search paths" build setting in the RNApptentiveModule project file doesn't include the location where CocoaPods is installing the header files.

Basically we want to find the location of Apptentive.h on disk and then compare it to the header search paths. The former is probably in `ios/Pods/apptentive-ios/Apptentive/Apptentive/`.

If you're not super fam

[2018-04-17 09:15] aidan2129 commented on #22
Thanks i will give that a go and get back to you :+1:

[2018-04-18 10:18] aidan2129 commented on #22
Hello after trying for a while i gave up on cocoapods and cloned the library from git and set it up using the sub project instructions here https://learn.apptentive.com/knowledge-base/ios-integration-reference/ it now works fine. Linking to the library in cocoapods was just never finding the Apptentive.h file for some reason feel free to close this as i found a work around for my problem. It may w

[2018-04-18 17:46] weeeBox commented on #22
Hi @aidan2129,

What cocoapods version do you use? You can check it but running `pod --version`

[2018-04-20 14:14] aidan2129 commented on #22
Hi @weeeBox
I upgraded it to the most recent version while trying to fix it version 1.5.0

[2018-05-03 17:06] frankus commented on #22
Since @aidan2129 has a workaround and we weren't able to directly reproduce it, I'm going to go ahead and close this for now.

[2018-05-03 17:06] #22 closed

[2018-07-04 20:32] luistarz opened #24 "App crashes when showing message center on android"
I have integrated `apptentive-react-native` library into my react native app but when i try to call `Apptentive.presentMessageCenter()` function, the android app crashes without giving error details.
I tried to call `canShowMessageCenter` method and it returned `true` so I guess the problem is in presenting logic.

My env:
[code]

Anybody can help on this?

[2018-08-14 17:11] weeeBox commented on #24
Hey @luistarz,

Sorry for the late response. We're looking at it right now.

[2018-08-15 22:02] weeeBox commented on #24
Hi @luistarz,

Would you be able to provide your `package.json`?

[2018-08-28 17:00] msaffitz commented on #24
Hi @luistarz ; we're going to close this ticket as we've not heard back from you.  Please feel free to reopen it or reach out to support@apptentive.com if you're still having this issue.

[2018-08-28 17:00] #24 closed

[2018-09-05 17:33] jebzaki opened #35 "Messaging Center on android not appearing"
Works great on iOS, I'm using apptentive-react-native 5.1.4 and react native 0.51. I'm also using react-native-router-flux 3.43.0 to handle my scenes/routes.

[code]

'presented' returns true, however it still doesn't show.

[2018-09-06 17:44] weeeBox commented on #35
Hi @jebzaki,

Sorry for the issue. We'll take a look at it asap.

[2018-09-06 18:54] weeeBox commented on #35
Hi @jebzaki,

Would you be able to collect device logs and share them with us? You can enable `verbose` logging by passing it with a configuration object while registering Apptentive.

[code]

[2018-09-06 19:20] jebzaki commented on #35
I did as asked using this debug key
[code]

Unfortunately when I try to send report nothing happens. (This is using an android emulator by the way)

[2018-09-06 19:55] weeeBox commented on #35
Can you pass the `verbose` log level along with configuration object?

[2018-09-06 20:15] jebzaki commented on #35
I'm not sure what you want me to do.
I'm not sure how to access any logs that might be stored locally if that's what you're referring to.

[2018-09-06 20:29] jebzaki commented on #35
Yes I have added that to my configuration object as you asked.

Then I copied my debug key within the device and launched the app.
I followed the instructions given on the notification and attempted to open the message center within the app. When I attempt to send the report or dismiss nothing happens.

[2018-09-06 20:32] weeeBox commented on #35
You can get logs using this command line:
`adb logcat -s Apptentive`

[2018-09-06 21:44] weeeBox commented on #35
Looks like `com.apptentive.android.sdk.ApptentiveViewActivity` was not added to the manifest while merging. As a workaround, you can add it manually.
[code]

[2018-09-06 22:30] jebzaki commented on #35
Works great! I just have to change the theme color and it's good.

Thank you.

[2018-09-06 22:30] #35 closed

[2018-09-06 22:32] weeeBox commented on #35
Awesome!

[2018-09-07 14:35] jebzaki opened #36 "Attempting to override the the default styles of messaging center"
I tried to override the messaging center styles for android using the below code.

In the android.xml
[code]

within my styles.xml
[code]

This results in the following error when I attempt to open the messaging center
[code]

[2018-09-07 14:40] weeeBox commented on #36
Hi @jebzaki,

Sorry for the issue. We're look at it asap.

[2018-09-11 13:02] nagad814 opened #37 "Not receiving push notifications in react native iOS"
please find the AppDelegate.m, where we are using firebase messaging in parallel.

[code]

[2018-09-11 17:19] frankus commented on #37
Thanks for the report. I'm looking at this now, and I'll let you know when I have a handle on what might be going on.

[2018-09-11 17:42] frankus commented on #37
I can track this down a bit more quickly with the following information:

- What minimum OS version (deployment target) do you have set for your iOS project? Unfortunately there is a slightly different setup for the three different versions we currently support (iOS 9, 10 and 11).
- Does your app successfully receive Firebase push notifications, and is that using a debug build, a release (TestFlig

[2018-09-11 17:45] nagad814 commented on #37
ios 11, yes in both and yes i have uploaded p12 files

On Tue, 11 Sep 2018 at 11:12 PM, Frank Schmitt <notifications@github.com>
wrote:

[2018-09-19 22:37] frankus commented on #37
Hi @nagad814, did that fix the issue you ran into?

[2018-09-20 06:57] pengcao1 opened #42 "Can apptentive-react-native support all the native feature?"
Hi guys：

we try to use apptentive make rating/surveys/ etc.
and does this `apptentive-react-native` full support as native(android/ios sdk?)

Thanks

[2018-09-20 07:16] nagad814 commented on #37
yes thank you

[2018-09-20 15:47] weeeBox commented on #42
Hey @pengcao1,

We support most of the native API. Which calls are you missing?

[2018-09-20 17:41] #37 closed

[2018-09-21 15:01] weeeBox commented on #42
Hi @pengcao1,

Ratings and surveys are already supported on both platforms. Push notifications should be configured in the native projects. Please, follow [this](https://github.com/apptentive/apptentive-react-native#push-notifications) guide. Let me know if you have any questions.

[2018-09-24 18:05] weeeBox commented on #42
Hi @pengcao1,

Did it solve your issue?

[2018-10-05 18:03] jbolter opened #43 "Android: Crash when using custom person data that has a number for a value"
After adding custom person data to our JS code we noticed that our app was crashing on Android with this error:

[code]

According to the RN docs it seems like `Number` is not a valid argument type.  http://facebook.github.io/react-native/docs/native-modules-android.html#argument-types

I have opened a PR https://github.com/apptentive/apptentive-react-native/pull/44 to fix this issue but I'm not s

[2018-10-05 18:29] weeeBox commented on #43
@jbolter, can you provide a code snippet which led to the crash?

[2018-10-05 18:38] jbolter commented on #43
Something like this is what is causing the crash...

`Apptentive.addCustomPersonData('Age', 28)`

[2018-10-26 22:30] jbolter commented on #43
@weeeBox Any update on this? We are updating the SDK to get the latest critical bug fixes and are still having to use our fork until this crash is fixed for Android.

[2018-10-29 20:44] weeeBox commented on #43
@jbolter, sorry for the delay. This was fixed in 5.3.1

[2018-10-29 20:44] #43 closed

[2018-11-06 00:59] shercoder opened #49 "Getting "Native module cannot be null""
I have tried following your documents both (automatic and manual) but keep on getting this error:
![image](https://user-images.githubusercontent.com/1681066/48036080-aac1e300-e11b-11e8-9ee3-1789f03b55b0.png)

[code]

**NOTE:** We are replacing the `react-native-apptentive-module` with `apptentive-react-native`

Any help would be appreciated.

[2018-11-06 01:00] weeeBox commented on #49
Hey @shercoder,

Can you provide the contents of your `package.json` file?

[2018-11-06 01:07] shercoder commented on #49
[code]

Assuming you just want to see which version of apptentive I'm using?

[2018-11-06 01:09] shercoder commented on #49
ha I think I figured out the issue. So we have 2 targets in ios project: One for the device and one for a simulator. I was testing on simulator and `react-native link` only linked the lib to device target (smh). So i had to manually link the lib to the simulator target as well.

closing. And thank you for such quick response. :)

[2018-11-06 01:09] #49 closed

[2018-11-06 21:09] weeeBox commented on #36
Hey @jebzaki, sorry for the late reply. You don't need this part:
[code]

[2018-11-06 21:09] #36 closed

[2018-11-21 19:34] prudolph opened #50 "Message Center Not Receiving Initial Response - iOS"
While testing the message center, I cannot get responses to show up until the app is killed and restarted. Once the app has been restarted the message center shows past messages, and will also update when new messages are sent from the Apptentive dashboard as expected.

This seems to be isolated to iOS, as I have tested on an Android build and it works properly. I have also seen the same behavior

[2018-11-21 19:36] weeeBox commented on #50
@prudolph, we're aware of the issue and preparing a fix which would available soon in 5.3.2 release

[2018-11-21 19:55] prudolph commented on #50
@weeeBox  Thanks for the update!

[2018-11-26 23:46] theAdmiralNelson opened #51 "Message center returns error after app has been closed and relaunched"
Hey guys, it's me again. On Android, Message Center works great if the app has just been installed. But if you close out the app and relaunch, the message center opens with "It looks like we're having trouble accessing feedback. Please wait a bit and try again."

Am I missing something?

Here are the logs:
[code]

iOS works perfectly.

[2018-11-27 00:00] weeeBox commented on #51
Hey @theAdmiralNelson, sorry for the issue. Can you enable verbose logging and grab the logs again?

To enable verbose log level:
[code]

[2018-11-27 17:44] weeeBox commented on #51
@theAdmiralNelson, would you be able to share logs as a plain text file? Pdf line breaks make it extremely hard to read.

[2018-11-27 18:38] theAdmiralNelson commented on #51
For sure! Hope these are easier to read:
[Apptentive Logs.txt](https://github.com/apptentive/apptentive-react-native/files/2621383/Apptentive.Logs.txt)

[2018-11-28 21:55] frankus commented on #50
We have fixed this bug in version 5.2.3 of the Apptentive iOS SDK. We don't package the iOS SDK with the React Native module, so the way to get this update is to run `pod update` from inside the `ios` directory in your project. Please let us know if you run into any problems getting updated and whether this fix works for you.

Thanks!

[2018-12-06 00:12] weeeBox commented on #51
@theAdmiralNelson, starting SDK 5.3.2 we forcing the legacy Android KeyStore API 18 on each new client install.

[2018-12-06 00:12] #51 closed

[2019-02-05 21:22] aleksbgs opened #58 "java.lang.noSuchMethodError"

[2019-02-05 21:22] weeeBox commented on #58
Hey @aleksbgs,

Can you provide a complete stacktrace along with your `package.json` file contents?

[2019-02-05 21:33] aleksbgs commented on #58
it's working good on ios

[2019-02-05 21:34] weeeBox commented on #58
Would you be able to update your target sdk version to `28`?

[2019-02-05 21:35] weeeBox commented on #58
Apptentive SDK requires `28` to function properly.

[2019-02-05 21:41] aleksbgs commented on #58
targetSdkVersion 28 crash again

[2019-02-05 21:43] weeeBox commented on #58
Sorry, I should've been more specific:
[code]

[2019-02-05 21:52] aleksbgs commented on #58
sorry i am frustrate with versions so i change this configurations.all {
    resolutionStrategy.force 'com.android.support:support-v4:26.1.0'
} into this configurations.all {
  resolutionStrategy.force 'com.android.support:support-v4:28.0.0'
}
i have other errors :)
![screen shot 2019-02-05 at 10 52 13 pm](https://user-images.githubusercontent.com/274019/52306622-bc27bf00-2998-11e9-96fb-01659ba286

[2019-02-05 21:53] aleksbgs commented on #58
i add also this into androidmanifest
 <activity android:name="com.apptentive.android.sdk.ApptentiveViewActivity"
                  android:theme="@style/ApptentiveTheme.Base.Versioned"/>

[2019-02-05 21:57] weeeBox commented on #58
Sorry for the issue. I've created a ticket and we'll look at it soon.

[2019-02-06 18:48] aleksbgs commented on #58
any suggestion  ?

[2019-02-06 19:03] weeeBox commented on #58
Is the stack trace the same?

[2019-02-06 19:04] aleksbgs commented on #58
yes same

[2019-02-12 18:24] frankus commented on #42
Closing for now. Please reopen if this is still an issue.

[2019-02-12 18:24] #42 closed

[2019-02-12 18:24] frankus commented on #50
Closing for now. Please reopen if this continues to be an issue.

[2019-02-12 18:24] #50 closed

[2019-03-26 16:47] Poyser1911 opened #59 "Argument list too long: recursive header expansion failed - IOS"
Setup:
1. React-native: 0.57.8
2. Followed `installation` instructions for `ios only` using `cocoaPods` and `manual install` of the `.xcodeproj` file `without` the code involving `Usage` (adding api key etc.)
My Pod File:
[code]

When ever i try to clean / Run project in XCode i get this same error in the issue navigator tab:

`RNApptentiveModule 1 issue`

- `Dependency Analysis Error`

- `Argumen

[2019-03-26 18:16] frankus commented on #59
We're taking a look at this today.

It sounds like there may be an issue with the Header Search Paths setting where it isn't specific enough and is recursing through a bunch of unrelated node modules.

[2019-03-26 18:37] Poyser1911 commented on #59
@frankus
Here is my project header search paths:
![Screen Shot 2019-03-26 at 1 32 46 PM](https://user-images.githubusercontent.com/11511131/55024034-09ed9a80-4fcc-11e9-824f-4082d2020f0d.png)

[2019-03-26 23:26] frankus commented on #59
Would you be willing to try an edit to the RNApptentiveModule project? In the Header Search Paths, replace:
[code]
with:
[code]
Let me know if that works and if so we can patch our module so that you won't have to make this edit in the future.

[2019-03-27 16:23] Poyser1911 commented on #59
In Libraries -> RNApptentiveModule.xcodeproj -> Build Settings -> Search Paths -> Header Search Paths -> [Its empty] :/
Tried adding those, same error

[2019-04-01 16:38] Poyser1911 commented on #59
Doing some refactor to get to the latest RN, will let you know if it works

[2019-04-01 17:47] Poyser1911 commented on #59
Seems to be working on RN 0.59.2 fine.

[2019-04-01 17:47] #59 closed

[2019-04-16 23:48] shercoder commented on #59
Hi - Is there a fix for someone who hasn't upgraded to RN 0.59.2? I'm on 0.57.3.

[2019-04-24 20:26] TomSwift opened #62 "appID vs appleID"
Looking for clarity on whether this is a purposeful naming mismatch or not, and whether there is documentation on either:

https://github.com/apptentive/apptentive-react-native/blob/21bcdb8450f53ccdea465bf1e12ccfb30919b214/ios/RNApptentiveModule.m#L53

I don't see any documentation in the React Native Integration Reference, and only a single reference to `appID` in a code sample in the iOS Integra

[2019-04-24 20:33] frankus commented on #62
Thanks for bringing this to our attention. I've opened an issue internally around improving the documentation here.

But to answer your question, this value should be set to the iTunes Store ID of the app. If the app hasn't yet been released, you can provisionally create it in Apple's App Store Connect site and grab the value from the "Apple ID" field on the "App Information" tab for the app.

It

[2019-04-24 20:57] TomSwift commented on #62
Thanks.   It's unfortunate naming on Apple's part, since "Apple ID" refers to a couple of entirely different things.  I've seen other vendors who want this value call it `appleAppID`.

[2019-06-17 19:50] JakeRawr opened #71 "npm 5.4.2 missing ios and android folder"
npm i appcenter-react-native@5.4.2 is missing ios and android folders. Downgrade to 5.4.1 brings back the folders

[2019-06-21 21:20] MatthewCallis commented on #71
This should be fixed in v5.4.3! Sorry about that!

[2019-06-21 21:20] #71 closed

[2019-06-25 21:55] JakeRawr commented on #43
I'm experiencing the same issue with
`Apptentive.addCustomDeviceData('coins', 543)`

[2019-06-26 05:19] JakeRawr commented on #43
I've submitted a PR to fix this issue. https://github.com/apptentive/apptentive-react-native/pull/75

[2019-09-09 23:13] JakeRawr opened #76 "AndroidX Support"
Hi,

Does the latest version support React-Native@0.60 with AndroidX?

[2019-09-10 19:53] weeeBox commented on #76
Hey @JakeRawr, the SDK use support library 28 as a dependency. Are you facing any issues rn?

[2019-10-09 17:54] darran-kelinske-fivestars commented on #76
I just tried the latest version `    "apptentive-react-native": "5.4.3",` and it doesn't appear to work with AndroidX

[2019-10-09 18:03] darran-kelinske-fivestars commented on #76
Is anyone working on adding androidx support?

[2019-10-09 22:37] CaseyApptentive commented on #76
Hi @darran-kelinske-fivestars. Let me sync with my team to get a confirmation. Stay tuned!

[2019-10-09 22:41] CaseyApptentive commented on #76
@darran-kelinske-fivestars can you tell me more about the type of issues you're having? We should be able to work with AndroidX but we need to make sure the libraries are compatible.

Any logs or screenshots would be appreciated!

[2019-10-09 22:47] darran-kelinske-fivestars commented on #76
We ended up removing the library. In short, you need to migrate your dependencies to AndroidX if you'd like to support the latest versions of react native.

[2019-10-09 23:20] CaseyApptentive commented on #76
Thanks for the update. We're looking into compatability. I'll let you know as soon as I have an update.

Apologies for the low level questions, but to confirm: it sounds like you removed Apptentive from your Android app until we have a solution?

I want to be sure we're prioritizing this work appropriately.

[2019-10-10 13:53] darran-kelinske-fivestars commented on #76
correct - we removed it from android and react native

On Wed, Oct 9, 2019 at 6:20 PM CaseyApptentive <notifications@github.com>
wrote:

[2019-10-11 00:51] CaseyApptentive commented on #76
Thanks for clarifying @darran-kelinske-fivestars . Working with my team to investigate this right now.

I'll keep you posted on any updates.

[2019-10-11 22:16] CaseyApptentive commented on #76
@darran-kelinske-fivestars,

Circling back with this. We've tested more with React Native (version 0.61.2) and our latest RN SDK (5.4.3 which has been migrated to AndroidX) and are unable to reproduce the issue you saw. We'll need a bit more info.

We built a new react native project with the following dependencies and successfully integrated the Apptentive SDK with it

"dependencies": {

"apptent

[2019-10-16 21:04] CaseyApptentive commented on #76
@darran-kelinske-fivestars

Circling back. Are you still having issues?

If so, can you send your package.json, logs, and steps to repro (if possible)?

Thanks!

[2019-10-16 23:36] darran-kelinske-fivestars commented on #76
idk - it might still be an issue, but we removed the sdk for now - would
ask the other poster

On Wed, Oct 16, 2019 at 4:04 PM CaseyApptentive <notifications@github.com>
wrote:

[2019-10-17 20:49] CaseyApptentive commented on #76
@JakeRawr are you still having issues? If so, can you send your package.json, logs, and steps to repro (if possible)?

[2019-10-22 19:09] bpfeiffer187 opened #79 "React native callback for unread messages not working"
I have tried to use the call this:
Apptentive.onUnreadMessageCountChanged = (count) => {
      console.log(`render:${count}`);
      alert('count = ' + count);
    };

the call back only works while I have the message window open. I am missing something?

[2019-10-22 22:54] CaseyApptentive commented on #79
Thanks for reaching out @bpfeiffer187 ! Let me take a closer look with my engineers.

[2019-10-28 20:15] #79 closed

[2019-10-28 20:16] bpfeiffer187 commented on #79
I found that the data was just time delayed.

[2019-10-28 23:55] jpr-longgame opened #80 "React Native 0.60+ and autolinking"
Using RN 0.60-style autolinking seems to be broken.

Launching the app, on calling `Apptentive.register`, we get "Native module cannot be null".

Following the manual install instructions, the app doesn't build - missing React dependency (since React is built as part of the Pods project).

eta: Dependencies include these:

"apptentive-react-native": "^5.4.3",

"react": "16.9.0",

"react-native": "

[2019-10-29 12:15] bpfeiffer187 commented on #80
I am also having the same issue with RN .61.

Manual linking the app fails to build with error:
Pod Error:
Pod installation complete! There are 40 dependencies from the Podfile and 38 total pods installed.

[!] use_native_modules! skipped the react-native dependency 'apptentive-react-native'. No podspec file was found.
    - Check to see if there is an updated version that contains the necessary p

[2019-10-29 12:31] bpfeiffer187 opened #81 "Android Message Callback"
I have found the android message callback for react native to not be working. I use the call back to then display how many unread messages the user has from us. it works on iOS fine.

let side is iOS right side is android
![image](https://user-images.githubusercontent.com/37454342/67767125-5a2b5000-fa26-11e9-93f7-7b515de8cc85.png)

I have created a custom component to handle this.

here is the cod

[2019-10-29 20:45] CaseyApptentive commented on #80
Thanks for the reports, @bpfeiffer187  and @jpr-longgame! We're looking into this. Stay tuned for next steps.

Appreciate your patience as we dig in.

[2019-10-29 21:09] jpr-longgame commented on #80
@bpfeiffer187 you can get around your issue by placing a file named Apptentive.podspec in node_modules/apptentive-react-native:

[code]

[2019-10-29 22:23] weeeBox commented on #81
Hi @bpfeiffer187,

Apptentive SDK uses message polling technique so most likely you would see 5 min delay between sending messages from the dashboard and receiving them in the app. If you can't get any callbacks on the unread messages and but can see messages in the Message Center - try this snippet to verify that the callback still get invoked:
[code]

Don't use your current callback when you che

[2019-10-31 08:55] Zeneixe commented on #80
We have the same issue, any updates?

[2019-11-01 01:06] frankus commented on #80
Please take a look at the SEA-1402 branch to see if that fixes the problem you're running into.

[2019-11-01 20:22] jpr-longgame commented on #80
@frankus I don't see a SEA-1402 branch, I may be missing something though?

[2019-11-01 20:48] frankus commented on #80
Sorry @jpr-longgame, I merged the changes into the `develop` branch this morning. We're doing a run-through of our sample project and after that we'll cut an official release.

[2019-11-05 19:22] frankus commented on #80
We just released version 5.4.5 which should address this. Please let us know if it works for you!

[2019-11-06 23:15] shercoder opened #93 "Apptentive podspec file specifies older version of the SDK"
https://github.com/apptentive/apptentive-react-native/blob/master/apptentive-react-native.podspec#L3 specifies `5.4.4` but the release notes say the podspec wasn't supported until `5.4.5`.

Also are there updated docs, do we still have to specify `apptentive-ios` in our Podfile or since the podspec file specifies it, `pod install` will install it automatically?

[2019-11-06 23:31] CaseyApptentive commented on #93
Thanks for reaching out @shercoder. We'll get back to you with next steps as soon as possible.

In the meantime, could you email us directly at support@apptentive.com with details on which app you're working on? I want to be sure we're looping in your appropriate Customer Success Manager as we work on a fix.

[2019-11-07 13:51] bpfeiffer187 commented on #80
@frankus thanks going to install it today. Just to be clear this doesn't full support auto linking correct? this just fixes the podspec file for when we link manual?

[2019-11-07 15:23] Ayat11 opened #94 "App crashes on android on reaction to dialog box or notes"
We are having issues with apptentive on android device after migrating to androidx, we have the latest version 5.4.5, the app is crashing with the following error:

[code]

[2019-11-07 15:24] weeeBox commented on #94
Hey @Ayat11,

Sorry for the issue. What SDK version do you use?

[2019-11-07 15:24] weeeBox commented on #94
Sorry, I can see it in a description

[2019-11-07 15:35] weeeBox commented on #94
Would you be able to provide the contents of your `package.json` and `build.gradle` files (both app and project level)?

[2019-11-07 15:49] Ayat11 commented on #94
@weeeBox
package.json
[code]

android/app/build.gradle
[code]
android/build.gradle

[code]

[2019-11-07 15:54] weeeBox commented on #94
Thanks!

[2019-11-07 20:24] frankus commented on #80
I made a bit of a rookie mistake with the 5.4.5 release and forgot to include the `podspec` file in the `package.json`. So you'll want the 5.4.6 release.

I was able to create a new RN project, install this module, and run `pod install` in the `ios` directory, and everything linked correctly.

[2019-11-07 21:06] frankus commented on #93
We've just fixed this in the 5.4.6 release, and updated our release process to automatically keep it up to date. We also fixed a bug where the `podspec` file was not included in the `package.json` file. Finally, we've updated the documentation (please look at the `master` branch for this) to reflect the new, much simpler installation process.

[2019-11-07 21:06] #93 closed

[2019-11-07 21:13] frankus commented on #80
Sorry, I didn't really address your question directly, @bpfeiffer187. You should be able to just switch to the `ios` directory (after installing the `apptentive-react-native` module) and run `pod install`. No further linking needed.

I'm going to close this for now but let us know if this is still an issue for you.

[2019-11-07 21:13] #80 closed

[2019-11-07 22:46] weeeBox commented on #94
Hey @Ayat11, we were able to reproduce the issue: seems like one of your app dependencies is not compatible with Apptentive SDK. We'll get back to you once we identify the problem. Thanks for your patience!

[2019-11-11 10:18] Ayat11 commented on #94
@weeeBox any updates on this issue?

[2019-11-11 22:06] weeeBox commented on #94
Hey @Ayat11,

We have migrated our SDK to AndroidX and now preparing a release. Should be available tomorrow. Thanks for your patience!

[2019-11-11 22:58] shercoder commented on #93
@frankus @CaseyApptentive So are we not suppose to specify `pod 'apptentive-ios', '5.2.7'` in our Podfile?

Instructions on your official page says we should but master branch docs don't specify it https://learn.apptentive.com/knowledge-base/react-native-integration-reference/

And no linking required for Android either?

[2019-11-12 17:17] shercoder commented on #93
Just an FYI for anyone else visiting here:
I am using React Native 0.59.10 so in order to integrate `apptentive-react-native` use the following steps:

1. First of all make sure you unlink previous lib via `react-native unlink apptentive`
    1. discard the unlinking for Android files because that does not change. Although I noticed that `apptentive-react-native@5.4.6` installs Apptentive Android

[2019-11-12 19:06] twinklesharma1311 commented on #76
@JakeRawr  are you still facing issues? If so, we would really appreciate if you can send your package.json, logs, and steps to repro (if possible)?

[2019-11-12 19:09] twinklesharma1311 commented on #81
Hi @bpfeiffer187 ,
Were you able to resolve the issue with the code snippet provided above?

[2019-11-12 19:12] JakeRawr commented on #76
Hi @twinklesharma1311 @CaseyApptentive

We successfully rolled out apptentive with react-native 0.60+ on both iOS and Android a couple weeks ago. Everything seems to be working and feel free to close this.

[2019-11-12 19:13] twinklesharma1311 commented on #76
Thanks for the update @JakeRawr

[2019-11-12 19:14] #76 closed

[2019-11-12 19:18] CaseyApptentive commented on #76
@darran-kelinske-fivestars: wanted to circle back with you as well.

We have a fix that's live in v5.4.6. Let me know if you have any questions along the way.

https://github.com/apptentive/apptentive-react-native/releases/tag/v5.4.6

[2019-11-12 19:57] shercoder commented on #93
ah looks like the the Android SDK version was never updated to 5.4.7 in your gradle file https://github.com/apptentive/apptentive-react-native/blob/master/android/build.gradle#L35

[2019-11-12 22:14] shercoder commented on #93
I fixed the android issue by adding this to our top-level `build.gradle`:
[code]

[2019-11-13 01:02] weeeBox commented on #94
Hey @Ayat11,

We have found an issue while testing the new SDK. This might delay the release. Sorry for the inconvenience.

[2019-11-13 10:59] Ayat11 commented on #94
Hey @weeeBox
Thanks for getting back to me, how long delay are we talking? we currently cannot do any releases because of this issue, that we are considering removing apptentive in order to be able to do a release. Could you give me an estimate please?

[2019-11-13 17:35] CaseyApptentive commented on #94
@Ayat11 I'll work with @weeeBox to get an answer for you.

Would you mind sharing which app you're working on so I can coordinate with your account's Customer Success Manager as well? If you'd rather, feel free to email us the details at support@apptentive.com.

Thanks again.

[2019-11-14 01:06] weeeBox commented on #94
@Ayat11, we have released native Android SDK today. React Native extension should go live tomorrow.

[2019-11-14 21:56] weeeBox commented on #94
@Ayat11, the issue is now fixed in `5.5.0`

[2019-11-14 21:56] #94 closed

[2019-11-14 22:07] CaseyApptentive commented on #76
@darran-kelinske-fivestars, we have a fix out specific to AndroidX for React Native 0.60+. Can you upgrade to SDK v5.5.0?

https://github.com/apptentive/apptentive-react-native/releases/tag/v5.5.0

Thanks again!

[2019-11-20 17:03] Ayat11 opened #107 "Android Push Notifications"
We are trying to make android push notifications work, we only found support in the [native module](https://learn.apptentive.com/knowledge-base/android-integration-reference/#push-notifications) as stated in the readme ,  and since we are using `react-native-firebase` messaging, it would be easier to have the native methods mapped to JS code, so we did map the method `setPushNotificationIntegratio

[2019-11-20 23:20] CaseyApptentive commented on #107
Hi @Ayat11 ! Great question. We currently support Firebase for native release and do not expose SDK functions to Javascript.

I'd be happy to share your feedback with my product team.

We only use push for notifying customers of replies from Message Center. Another option that you could use is to reply to customers via email. I know that this isn't the same experience as push, but I wanted to give

[2020-02-21 20:24] mtpjr88 opened #114 "when calling register sdk returns "Apptentive already initialized""
`RCT_EXPORT_METHOD(
	register:(NSDictionary *)configurationDictionary
	resolver:(RCTPromiseResolveBlock)resolve
	rejecter:(RCTPromiseRejectBlock)rejecter
) {
	if (self.registered) {
		rejecter(kRejectCode, @"Apptentive is already initialised", nil);
		return;
	}`

This will boolean will always return true since
apptentiveKey and apptentiveSignature are required fields for the js sdk ie docs:
https

[2020-02-21 20:25] mtpjr88 commented on #114
@frankus

[2020-02-21 23:45] CaseyApptentive commented on #114
Hi @mtpjr88, thanks for reaching out. We'll take a closer look and get back to you with next steps.

Are you able to launch any Apptentive dialogs despite this?

[2020-02-24 23:56] CaseyApptentive commented on #114
Hi @mtpjr88. My team mentioned that it looks like you're registering Apptentive twice.

Can you see any way that that might be possible? Also, is this preventing any Apptentive Dialogs from displaying?

We haven't seen this before so would appreciate your feedback in order to make a recommendation. Thanks!

[2020-02-25 13:46] mtpjr88 commented on #114
@CaseyApptentive
well the issue is that  `Apptentive.shared.apptentiveKey` and `Apptentive.shared.apptentiveSignature `
are required fields in the javascript sdk
[code]
thus `Apptentive.shared.apptentiveKey` and `Apptentive.shared.apptentiveSignature `
will not come as `nil`
and will always throw "Apptentive already initialized";

[2020-03-30 19:42] vinnyA3 opened #118 "[iOS] No known class method for selector"
### Issue Description

The latest patch update (`5.2.9`) breaks iOS builds.  Receiving errors like `No known class method for selector`.  The fix for us: lock to version `5.2.8`

### Steps to Reproduce / Code Snippets / Screenshots

**Podfile**

[code]

**Error Screenshots**

![Screen Shot 2020-03-30 at 3 39 00 PM](https://user-images.githubusercontent.com/11083531/77954443-9c3e1380-729c-11ea-8070

[2020-03-30 19:43] #118 closed

[2020-03-30 19:43] vinnyA3 commented on #118
Wrong Repo :(

[2020-06-09 19:04] nagad814 commented on #37
Hey,

I just signed the petition "Ministry of Health Telangana Government :
COVID-19 Testing in Telangana" and wanted to see if you could help by
adding your name.

Our goal is to reach 100 signatures and we need more support. You can read
more and sign the petition here:

http://chng.it/VrWTNGVywM

Thanks!
Naga durga prasad

[2020-10-01 19:10] stephenmclaughlin opened #133 "'Apptentive.h' file not found apptentive-react-native"
When using apptentive-react-native for react native looks like RNApptentiveModule.m is looking for Apptentive.h but that file does not exist. Looks like the file is actually named ApptentiveMain.h. I changed the import in RNApptentiveModule.m to reflect this is. After doing so it builds.

[code]

changed to

[code]

[2020-10-14 23:54] CaseyApptentive commented on #133
Hi @stephenmclaughlin, thanks for the report. We're looking into this.

A few questions:
- What version of the React Native SDK are you seeing this on?
- Is this the first time your app has used the Apptentive SDK, or are you migrating from an older version? If so, what older version?

It sounds like the change you made may have worked. Is it up and running now?

Thanks again.

[2020-10-15 12:59] stephenmclaughlin commented on #133
@CaseyApptentive
"react-native": "npm:react-native-tvos@0.62.2-0"
"apptentive-react-native": "5.6.0"
apptentive-ios (~> 5)
#define kApptentiveVersionString @"5.3.1"

This is the first time our app has used apptentive sdk. We just integrated with apptentive a few weeks ago. The change is working. Just wanted to report the issue.

Thanks,
Stephen

[2020-10-15 23:03] CaseyApptentive commented on #133
Thank you!

[2020-10-23 00:27] weeeBox commented on #133
Fixed in 5.6.1

[2020-10-23 00:27] #133 closed

[2020-10-29 20:33] rpadilla6 commented on #114
Seems like this thread might be dead, but chiming in to report I'm getting the same issue reported here.

[2020-10-30 16:34] johnhaup commented on #114
As a way to avoid seeing the warning message in the app and in any error tracking services, you can swalllow it this way:

`export const registerApptentive = async () => {
  const configuration = new ApptentiveConfiguration(
    credentials.apptentiveKey,
    credentials.apptentiveSignature,
  );
  try {
    await Apptentive.register(configuration);
  } catch {
    // Do whatever or nothing at all

[2021-01-05 01:38] arsonblock opened #138 "Unread message count not working"
On Android, the unread message count is not  being returned with the listener in place. Is there still an issue with this functionality in the Android SDK?

`UnreadMessagesListener listener = new UnreadMessagesListener() {
            @Override
            public void onUnreadMessageCountChanged(int unreadMessages) {
            //Your code here
            if(unreadMessages > 0){

[2021-01-05 01:56] #138 closed

[2021-01-06 07:52] sabih3 opened #139 "Pod Linking issue"
Hi there

When I am trying to run pod install, I am getting the following error:

CocoaPods could not find compatible versions for pod "apptentive-ios":
  In Podfile:
    apptentive-ios

    apptentive-react-native (from `../node_modules/apptentive-react-native`) was resolved to 5.6.1, which depends on
      apptentive-ios (< 6.0, >= 5.3.1)

Specs satisfying the `apptentive-ios, apptentive-ios (<

[2021-01-06 23:14] CaseyApptentive commented on #139
Hi @sabih3. Happy to help. Let me dig into this with my team.

I saw that you also reached out to support@apptentive.com -- which is great. We'll reply to you in that thread, but also post the solution here once we know for certain.

[2021-01-07 10:33] sabih3 commented on #139
Hey @CaseyApptentive . I upgraded iOS minimum targeting to 11.0 & it's working now.

If you guys can just mention this in docs, it may be helpful for other devs as well.

Thanks

[2021-01-07 10:33] #139 closed

[2021-10-06 14:33] TheBestMoshe opened #165 "Message Center on iOS does not have an option to add attachments."
On Android, there an option for the user to add an attachment:
<img src="https://user-images.githubusercontent.com/34072688/136224131-63bc79ee-a34e-4a99-ba8a-fca86b155c3f.jpeg"  width="225">

There is no such option on iOS:
<img src="https://user-images.githubusercontent.com/34072688/136224199-6cc72cec-1bd3-49f6-98be-900d0670c510.jpeg"  width="225">

Is there some extra configuration needed on iOS

[2022-01-12 19:04] TomSwift commented on #62
I ran into this again today (3 years later, updating our Apptentive integration...).   It's annoying that this property isn't expressed in the react-native SDK because it results in a runtime warning to the console:

```E/Apptentive: [Apptentive Main Queue] No App ID set. This may keep the ratings prompt from directing users to your app in the App Store.```

[2022-01-12 19:11] TomSwift opened #169 "Warning of not being initialized, while initializing"
The first call we make in JS to Apptentive is `Apptentive.register()`, passing the configuration object.   It's annoying that in making this call the following is written to the console:

```W/Apptentive: Apptentive instance is not initialized. Make sure you've registered it with your app key and signature.```

I mean, we're in the process of registering here, passing both the app key and signatur

[2022-03-08 16:48] wilsolutions opened #177 "Love Dialog not appearing in Android"
Hi,

I'm having a problem in Android, the segment is identical to iOS but for some reason the Love Dialog is not appearing in Android.

I'm using logcat and I see the events:
03-08 11:20:07.926 26035 30313 I Apptentive: [mqt_native_modules] Registering Apptentive Android SDK 5.8.0
03-08 11:20:07.976 26035 30406 I Apptentive: [Apptentive Queue] [CONVERSATION] Creating 'anonymous' conversation...
03

[2022-03-08 20:12] CaseyApptentive commented on #177
Hi @wilsolutions. Happy to help.

A couple of things will make this easier:

- Can you turn on verbose logging? WIth verbose level logs, we'll be able to see the targeting criteria being evaluated after the home_view event is engaged.
- Best practices for testing can be found here. It's important to follow all of the steps to ensure that you have the most recent manifest plus it's a way to ensure

[2022-03-08 21:17] wilsolutions commented on #177
Thank you, pls, how do you enable the verbose logging in React Native?

[2022-03-08 21:52] wilsolutions commented on #177
Alright, this is my finding:
- The issue is that I'm receiving the following error in logcat:
`03-08 16:29:20.135 12633 12950 V Apptentive: [pool-21-thread-2] [PAYLOADS] Can't send the next payload: the app is in the background`
So, the App is not in background but it is giving this error.

Then I decided to switch Apps and go back to the Apptentive ones and boom, the "Love Dialog" appeared.

[2022-03-08 22:01] CaseyApptentive commented on #177
@wilsolutions thanks so much for doing that! I apologize. I didn't mention that we recently identified that same issue with another customer and are working on a solution. It is only impacting React Native for Android using 5.8.0.

As we work on a fix, you could use 5.7.3 in the meantime to free you up. The differences between 5.8.0 and 5.7.3 are minimal on the Android side.

https://github.com/ap

[2022-03-08 22:08] wilsolutions commented on #177
No problem Casey, I'd like to keep the 5.8.0 version, the App is not in prod yet so, we can wait a bit, pls, if possible let me know when would be the next release.

Thank you

[2022-03-23 20:47] vbro1293 opened #180 "Apptentive instance not initialising"
Hey there,

I’m having trouble initialising registering Apptentive through the React Native plugin on Android; when I call `Apptentive.register(configuration)` I get the error “Apptentive instance was not initialized”.
I’ve dug a little into this, and in `RNApptentiveModule.java` I see that the instance returned here is null:

[code]

However, if I set a breakpoint on that line to wait a little bi

[2022-03-23 21:56] CaseyApptentive commented on #180
Hi @vbro1293, happy to help. What version of the React Native SDK are you using?

I ask because we recently identified an issue that impacted some customers using 5.8.0, and we actually just released a fix today in 5.8.3: https://github.com/apptentive/apptentive-react-native/releases/tag/v5.8.3

Can you give 5.8.3 a try, just in case?

if the issue is still happening, could you send verbose logs f

[2022-03-24 21:22] vbro1293 commented on #180
Hey @CaseyApptentive

So I was using 5.8.0. I then updated it to 5.8.3, which initially didn't work for me but have managed to get it working now by updating my `compileSdkVersion` to 31 and updated my JDK version from 8 to 11

Thanks for the quick response and helping out

[2022-03-24 21:41] CaseyApptentive commented on #180
Glad to hear it. Let me know if you need anything else!

[2022-03-24 21:41] #180 closed

[2022-03-24 22:03] CaseyApptentive commented on #177
Hi @wilsolutions. We just pushed a fix for this issue in 5.8.3. Can you give that a try and let me know if it resolves the issue?

[](https://github.com/apptentive/apptentive-react-native/releases/tag/v5.8.3)

[2022-03-24 22:35] wilsolutions commented on #177
Hey Casey, yep, it is fixed 😀 thank you

[2022-03-24 22:35] #177 closed

[2022-03-25 15:32] CaseyApptentive commented on #177
Perfect. Thanks for confirming.

[2022-05-04 23:38] laffed opened #183 "JCenter Repo Doesn't Exist?"
Pipeline android build failing.

RN 0.63
apptentive-react-native 5.6.3

Was able to build yesterday with identical codebase.
Does this jcenter asset still exist?

Probably not an apptentive problem but just raising here just in case it might be or if any others are having this issue.

Error:
[code]

First few lines of stack trace:
[code]

[2022-05-04 23:44] laffed commented on #183
Failed to

[2022-05-05 19:55] laffed commented on #183
Working today. Seems to have been down repo server as expected.

[2022-05-05 19:55] #183 closed

[2022-05-06 16:42] CaseyApptentive commented on #183
Hi @laffed, thanks for following up. Let me know if you have any further issues. Happy to help.

[2022-05-26 14:53] michaelmontero opened #194 "App crashes on android (only) when register method is called. v5.8.3 and v.6.0.0"
I receive the follow error occurs when `register` method is called in android (only).

Attempt to invoke with virtual method `'boolean.com.facebook.react.uimanager.FabricViewStateManager.hasStateWrapper()' on a null object reference.`

No error in the console.
[code]

React Native version: 0.66.4
compileSdkVersion: 31

[2022-05-26 18:24] frankus commented on #194
Thank you for the report!

Could you let us know whether this a new app or is an existing app that you updated to version 6 of the `apptentive-react-native` package?

[2022-05-26 18:25] michaelmontero commented on #194
@frankus its an existing app. We were using successfully version 5.7.3.

[2022-05-26 18:48] bhsiao55 opened #195 "Android devices on fresh install does not fire app in foreground message v6.0.0"
When doing a fresh install on an Android device, the app in foreground notification is never fired and thus all apptentive events gets queued up until you manually put app in background and bring it back to foreground.  This same scenario on IOS devices works perfectly. This same process works fine in v5.8.3 for both ios and android

apptentive-react-native 6.0.0
react native v0.67.3

[2022-05-26 21:56] HarryAWoodworth commented on #195
Thank you for your report! We are looking into the issue now

[2022-06-01 14:48] HarryAWoodworth commented on #194
@michaelmontero is this app built using React Native Expo?

[2022-06-01 14:56] michaelmontero commented on #194
No @HarryAWoodworth

[2022-06-09 00:04] frankus commented on #194
Our 5.8.0 Android SDK updated the appCompat dependency to version 1.3.1.

Can you try adding the following to the `dependencies` section of `android/app/build.gradle`?:

[code]

[2022-06-09 23:31] CaseyApptentive commented on #195
Hi @bhsiao55, sorry for the issue. We released a fix for this in [6.0.1. ](https://github.com/apptentive/apptentive-react-native/releases/tag/v6.0.1). Can you give that a try and let us know if it fixes the issue you're seeing?

[2022-06-09 23:32] CaseyApptentive commented on #195
Sorry, didn't mean to close this thread until we hear back!

[2022-06-10 17:55] bhsiao55 commented on #195
@CaseyApptentive I will give it a try and let you know

[2022-06-15 20:29] michaelmontero commented on #194
works @frankus

[2022-06-15 20:29] #194 closed

[2022-07-03 22:11] cristianbriscaru opened #200 "Override/Set Message Center background color"
Hi, I am using this library with Expo (managed) and the background color for the Message Center is a dark blue , how can I override /set the background  color ?

[2022-07-05 15:50] frankus commented on #200
Android and iOS have different methods of setting colors. Are you seeing this in Android, iOS, or both?

[2022-07-05 15:57] cristianbriscaru commented on #200
Hi @frankus , I am seeing this on Android, haven't checked on iOS yet

[2022-07-05 16:17] PoornimaApptentive commented on #200
@cristianbriscaru Check out the _MessageCenter_ section under _What Styles We Use_ in our [learn doc](https://learn.apptentive.com/knowledge-base/android-interface-customization/). We use `colroBackground` to set the MessageCenter background color. You can override the default theme in your `styles.xml`
<style name="ApptentiveThemeOverride">
  <item name="colorPrimary">#FFEB3B</item>
  <item name=

[2022-07-05 16:26] cristianbriscaru commented on #200
I am using Expo managed (with EAS custom dev client) so I don't have any android styles.xml, will have a look how I can achieve this without ejecting.

[2022-07-05 16:26] #200 closed

[2022-08-04 20:38] bhsiao55 commented on #195
@CaseyApptentive this issue has been solved in v6.0.1.  You can close this now

thanks

[2022-08-10 15:53] ErickChavezMediaMonks opened #203 "Failed to Update"
Hi, we are using this library on version '^5.8.3' but when we tried updating to version 6.0.2, we get this error
[code]

[code]

Can someone help me know if something changed.
Removing this line fixes the problem but makes it unable to compile on bitrise.

[code]
Removed from
`APP_NAME/PROJECT/BUILD SETTINGS/LIBRARY_SEARCH_PATHS`

react native v0.6X.x

[2022-08-10 23:14] CaseyApptentive commented on #203
Hi @ErickChavezMediaMonks, sorry for the issue.

I've brought this to my engineers to take a closer look.

Can you tell me more about how this is impacting you? Is it blocking a release, and if so, when are you expecting to release by?

[2022-08-11 00:32] ErickChavezMediaMonks commented on #203
Hi @CaseyApptentive thanks for fast response.

We want to release for the next version in last week from august.
The idea is to perform test for his library before to next release.
Hopefully the next version will be released soon.

[2022-08-12 00:11] CaseyApptentive commented on #203
Thanks for the timeline @ErickChavezMediaMonks. My engineers will look at this ticket and follow up as soon as possible.

Did you happen to also reach out to your Customer Success Manager about this issue? We have a second report and I'm wondering if they are both from your org. Just trying to keep messaging in line so we don't cross wires.

[2022-08-12 01:26] ieatfood opened #204 "Apptentive doesn't start on Android 13 before notification permissions are set."
In Android 13 apps have to request notification permission at runtime, like on iOS.

If an app is launched without having the notification permissions allowed or disallowed (neither set, the prompt shows), Apptentive won’t start with this error in logcat: `Exception while initialized Apptentive`.

After permission is granted or denied, next time the app starts Apptentive starts normally.

https://

[2022-08-12 15:58] ErickChavezMediaMonks commented on #203
Hello.

Yes, we sent an email too

[2022-08-15 20:44] CaseyApptentive commented on #203
Thanks, @ErickChavezMediaMonks. We'll keep you informed as we look into this.

[2022-08-15 22:02] CaseyApptentive commented on #204
Hi @ieatfood, thanks for reaching out. I've shared this with my team and will follow up with you as soon as possible.

[2022-08-15 23:54] CaseyApptentive commented on #204
Hi @ieatfood, thanks for the report. I'm looking into this issue with my team and will follow up with you as soon as possible.

[2022-08-18 00:04] CaseyApptentive commented on #204
Hi @ieatfood, thanks again for the report. We're having trouble reproducing the issue.

Are you seeing this issue every time? Are you testing on a dev app or in production?

Any additional details that could help us repro the problem would be great.

[2022-08-19 18:53] CaseyApptentive commented on #204
Thanks again for reaching out. Our team has continued testing Android 13 but we're still having trouble reproducing this issue. There have been no major red flags that we have identified at the time, though we continue to test more intensely to uncover any possible issues.

Let me know if there are any further details you can share so that we can repro the issue.

If easier, you could also share a

[2022-09-14 18:17] CaseyApptentive commented on #204
@ieatfood, following up. We still have not been able to reproduce this issue.

Are you still seeing this problem? If so, can you tell us more so we can repro the problem?

Thanks again for the report. Let me know if this is still an issue for you!

[2022-09-16 22:08] CaseyApptentive commented on #169
@TomSwift, sorry for the long delay. I wanted to circle back as we clean out our backlog. This should not be an issue on more recent versions of the SDK. Could you try using the latest 6.0.2?

Again, very sorry for the gap in communication.

Closing this for now but let me know if it's still an issue.

[2022-09-16 22:08] #169 closed

[2022-09-19 18:43] CaseyApptentive commented on #204
Hi @ieatfood. My team has dug in, believe they have an understanding of the issue, but are still having trouble reproducing it. They'll continue to look into it, but they wanted me to mention that, if you request the push notification on app startup (vs. waiting for Apptentive to request it), this should solve the problem.

Could you give that a try? Will that free you up for the time being?

Than

[2022-10-20 16:32] richardkomarcheski opened #209 "iOS crashing after the apptentive-kit-ios update to version 6.0.5"
after the latest update of the [apptentive-kit-ios](https://github.com/apptentive/apptentive-kit-ios) to version `6.0.5` when I try to run the iOS app version it will instantly crash when the plugin tries to get the `sdkVersion` it will return this error
`ios/Pods/ApptentiveKit/Sources/ApptentiveKit/Model/Environment.swift:187: Fatal error: Unable to read SDK version from ApptentiveKit's Info.plis

[2022-10-20 16:51] frankus commented on #209
Thank you for the report. In 6.0.5 we moved the version "source of truth" from our framework's `Info.plist` (which some customers were standardizing to their app version) to this new `Distribution.plist` file.

The `Distribution.plist` needed to be added to our `podspec`, but this wasn't caught due to an error in our test setup.

[2022-10-20 17:25] frankus commented on #209
If you have a minute, I've pushed a fix to a branch (`fix-podspec`). You can specify it in your podfile as follows:

[code]

In the meantime I'll work on getting it merged to main and tagged appropriately.

[2022-10-21 14:54] richardkomarcheski commented on #209
Thank you for the help, I've tested today and it's already getting the ApptentiveKit v6.0.6 and there's no crashing on iOS anymore, so I will close the issue.

[2022-10-21 14:54] #209 closed

[2022-10-26 14:24] Melchek commented on #209
@frankus anyway to publish also new package for react native?

the latest package in npm is 6.0.3, and it crashes for iOS.

[2022-10-26 21:28] CaseyApptentive commented on #209
Hi @Melchek, have you tried a pod update to get the latest version of ApptentiveKit, and if so, are you still having this issue?

Thanks! Trying to track down if this is now working.

[2022-11-01 23:41] Melchek commented on #209
Sure, that can works, but why not to ask a working version in .podspec?

[2022-11-03 21:23] CaseyApptentive commented on #204
@ieatfood let us know if this is still an issue for you. We haven't heard other reports and are happy to dig in further, but closing for now.

[2022-11-03 21:23] #204 closed

[2022-11-04 21:44] CaseyApptentive commented on #209
Sorry for all the confusion. My team left it this way so that you could better control your upgrade timeline, since us not hardcoding a version in there will give you the flexibility to control that yourself.

We did add some additional wording to our docs to help better explain that: [https://learn.apptentive.com/knowledge-base/react-native-integration-reference/#dependencies](https://learn.appte

[2022-11-14 22:21] CaseyApptentive commented on #209
Hi @Melchek, I wanted to circle back. Are you still seeing issues? Has running "pod update ApptentiveKit" worked for you?

[2022-11-17 16:07] kellyschrock commented on #209
Hi @CaseyApptentive we resorted to using `yarn patch` to get AppTentive to 6.0.6, and as of this morning we're seeing the crash again. Investigating it.

[2022-11-17 19:42] kellyschrock commented on #209
*Update*: Patched the Swift code via `yarn patch` to only call `resolve` or `reject` once, which seems to have solved the problem.

[2022-11-18 00:40] CaseyApptentive commented on #209
Thanks for the update @kellyschrock ! It sounds like you're now freed up, is that right?

If that's the case, my team says that it sounds like this PR may not be necessary. If that's right, we'll go ahead and close it.

[https://github.com/apptentive/apptentive-react-native/pull/210](https://github.com/apptentive/apptentive-react-native/pull/210)